<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
  <update id="update">
update sys_user
<set>
    <if test="username!=null and username!=''">
        username=#{username},
    </if>
    <!--<if test="password!=null and password!=''">
        password=#{password},
    </if>-->
    <if test="nickname!=null and nickname!=''">
        nickname=#{nickname},
    </if>
    <if test="email!=null and email!=''">
        email=#{email},
    </if>
    <if test="phone!=null and phone!=''">
        phone=#{phone},
    </if>
    <if test="address!=null and address!=''">
        address=#{address}
    </if>
</set>
<where>
 id=#{id}
</where>
  </update>

    <resultMap id="pageUser" type="com.example.pojo.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="role" property="role"/>

       <collection property="courses" javaType="java.util.List" ofType="com.example.entity.Course">
           <result column="teacherCourseName" property="name"/>
           <result column="teacherScore" property="score"/>
           <result column="teacherTimes" property="times"></result>
       </collection>
        <collection property="stuCourses" javaType="java.util.List" ofType="com.example.entity.Course">
            <result column="stuCourseName" property="name"/>
            <result column="stuScore" property="score"/>
            <result column="stuTimes" property="times"></result>
        </collection>

    </resultMap>
<!--通过两表连接student_course表,查询sys_user和course的共同数据,其中条件为用户的id等于教该课程的老师id-->
    <select id="findPage" resultMap="pageUser">
        select sys_user.*,c.name as stuCourseName,c1.name as teacherCourseName,c1.score as teacherScore,c.score as stuScore,c.times as stuTimes,c1.times as teacherTimes from sys_user
        left join student_course
        on sys_user.id=student_course.student_id
        left join course c
        on student_course.course_id=c.id
        left join course c1
        on sys_user.id=c1.teacher_id
        <where>
             <if test="username!=null and username!=''">
                 and sys_user.username like concat('%',#{username},'%')
             </if>
            <if test="email!=null and email!=''">
                and sys_user.email like concat('%',#{email},'%')
            </if>
            <if test="address!=null and address!=''">
                and sys_user.address like concat('%',#{address},'%')
            </if>
        </where>
    </select>





</mapper>
